{% extends "base.html" %}
{% set active_page = 'editUserDetails' %}

{% block title %}
    Change Password -
{% endblock %}

{% block body %}



    <div class="row">
        <div class="col-lg-7 offset-lg-2 my-5"><!Set width of form>
            <h1>Change Password</h1><hr>
            <form method="POST" action="{{ url_for('changePassword') }}">
                <div class="form-group">
                    <label>Enter Old Password:</label>
                    <input class="form-control" type="password" name="oldPassword" maxlength="15" minlength="5" required>
                </div>

                <div class="form-group">
                    <label>New Password</label>
                    <input class="form-control" type="password" name="newPassword" maxlength="15" minlength="5" required>
                </div>

                <div class="form-group">
                    <label>Confirm New Password</label>
                    <input class="form-control" type="password" name="confirmPassword" maxlength="15" minlength="5" required>
                </div>
                <input type="hidden" value="input" name="mode">
                <hr>
                <input class="btn btn-primary form-control" type="submit" value="Submit">
            </form>
        </div>
    </div>



{% endblock %}