{% extends "base.html" %}
{% set active_page = 'login' %}

{% block title %}
    Login Page -
{% endblock %}

{% block body %}



    <div class="row">
        <div class="col-lg-7 offset-lg-2 my-5"><!Set width of form>
            <h1>Login</h1><hr>
            <form method="POST" action="{{ url_for('loginUser') }}">
                <div class="form-group">
                    <label>Enter Username or Email Address:</label>
                    <input class="form-control" type="text" name="username" maxlength="50" minlength="1" required>
                </div>

                <div class="form-group">
                    <label>Password</label>
                    <input class="form-control" type="password" name="password" maxlength="15" minlength="5" required>
                </div>

                <hr>
                <input class="btn btn-primary form-control" type="submit" value="Submit">
            </form>
        </div>
    </div>



{% endblock %}